@import "tailwindcss";

@layer utilities {
  .font-eb-garamond {
    font-family: "EB Garamond", serif;
  }
}

body {
  background-color: #f8f1e4;
  width: 100%;
  height: 100%;
}

@theme {
  --color-primary: #e43f12;
  --color-dark: #000000;
  --color-background: #f8f1e4;
}
